/* Font start */
/* Font Product Sans */
@font-face {
    font-family: ProductSans;
    src: url("/assets/fonts/ProductSans/Regular.otf");
  }
  /* Font end */
  * {
    font-family: ProductSans;
    overflow-x: hidden;
  }
  /* Di dong */
  @media (min-width: 320px) {
    /* navbar start */
    #navbar {
      font-size: 0.6rem;
    }
    #navbar-left {
      display: none;
    }
    /* navbar end */
  }
  /* tablet tro len */
  
  /* navbar start */
  #navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    background-color: #7d84b2;
  }
  #navbar-left {
    padding-left: 60px;
    display: block;
  }
  #navbar-right {
    padding-right: 60px;
  }
  #navbar a {
    font-family: ProductSans;
    color: #f9f9ed;
  }
  #navbar a:hover {
    text-decoration: none;
  }
  /* MENUBAR START */
  #menu-bar-logo {
    padding: 0px;
    padding-left: 50px;
    font-size: 3rem;
  }
  #menu-bar-logo a:hover {
    text-decoration: none;
  }
  #menu-bar-logo a span:first-child {
    color: #7d84b2;
  }
  #menu-bar-logo a span:last-child {
    color: #a0ca44;
  }
  #menu-bar-list {
    padding: 20px 0px 0px 0px;
    box-sizing: border-box;
  }
  #menu-bar-list ul li a {
    box-sizing: border-box;
    color: #7d84b2;
    margin-right: 60px;
  }
  #menu-bar-list ul li a:hover {
    text-decoration: none;
  }
  #menu-bar-cart {
    box-sizing: border-box;
    padding: 0px;
    padding-top: 5px;
    padding-right: 60px;
  }
  /* MENUBAR END */
  
  /* BANNER START */
  #banner {
    background-color: #f9f9ed;
  }
  .banner-custom{
    position: relative;
  }
  .banner-text{
    color: #404987;
    background-color: #f9f9ed;
    position: absolute;
    margin: 0px;
    margin-top: 50px;
    margin-left: 200px;
  }
  .banner-button{
    margin-top: 30px;
    border: none;
    background-color: #a0ca44;
    color: #404987;
  }
  /* BANNER END */
  /* FEATURED START */
  #featured{
    margin: 30px 30px;
  }
  .featured-item-1{
    background-image: url(/assets/imgs/home/featured-1.jpg);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 265px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  .featured-item-link{
    height: 50px;
      background: #FFFFFF;
      min-width: 180px;
      padding-left: 25px;
      padding-right: 25px;
  }
  .featured-item-link a{
    display: block;
      color:#404987;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      width: 100%;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
  }
  .featured-item-link a:hover{
    text-decoration: none;
  }
  .featured-item-2{
    background-image: url(/assets/imgs/home/featured-2.jpg);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 265px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  .featured-item-3{
    background-image: url(/assets/imgs/home/featured-3.jpg);
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 265px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  /* FEATURED END */
  /* NEW CATEGORIES START */
  #new-categories{
    margin: 0px;
  }
  #new-categories .row{
    margin: 0px;
  }
  #new-categories .nc-title{
    padding-bottom: 15px;
  }
  #new-categories .nc-item{
    padding: 0px;
  }
  /* NEW CATEGORIES END */