.banner-1, .banner-2{
    position: relative;
    background-color: #f9f9ed;
}
.carousel-inner .item .banner-text{
    background-color: #f9f9ed;
    position: absolute;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
}