.product .col-md-2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
.totals .col-md-2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
*{
  color: #404987;
}
h2{
  font-weight: bold;
  margin: 40px;
}

.labels{
  padding: 20px 0px 10px 0px;
  background-color: #929de4;
  font-weight: bolder;
  font-size: 18px;
}
.labels label{
  color: white;
}

.product{
  font-weight: 500;
  font-size: 18px;
}
.totals{
  padding: 20px 0px 10px 0px;
  background-color: #929de4;
  font-weight: 500;
  font-size: 20px;
}
.totals .totals-item label{
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.checkout{
  align-items: center;
  background-clip: padding-box;
  background-color: #404987;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.checkout:hover,
.checkout:focus {
  background-color: #a0ca44;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.checkout:hover {
  transform: translateY(-1px);
}

.checkout:active {
  background-color: #404987;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.checkout a{
  text-decoration: none;
  color: white;
}