/* Font start */
/* Font Product Sans */
@font-face {
  font-family: ProductSans;
  src: url("/assets/fonts/ProductSans/Regular.otf");
}
/* Font end */
* {
  font-family: ProductSans;
}
/* Di dong */
@media (min-width: 320px) {
  /* navbar start */
  #navbar {
    font-size: 0.6rem;
  }
  #navbar-left {
    display: none;
  }
  /* navbar end */
}
/* tablet tro len */

/* green line */
.green-line{
  width: 10%;
  background-color: #a0ca44;
  height: 0.2rem;
  border: none;
}
/* navbar start */
#navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  background-color: #7d84b2;
}
#navbar-left {
  padding-left: 60px;
  display: block;
}
#navbar-right {
  padding-right: 60px;
}
#navbar a {
  font-family: ProductSans;
  color: #f9f9ed;
}
#navbar a:hover {
  text-decoration: none;
}
/* MENUBAR START */

#menu-bar-logo {
  padding: 0px;
  padding-left: 50px;
  font-size: 3rem;
}
#menu-bar-logo a:hover {
  text-decoration: none;
}
#menu-bar-logo a span:first-child {
  color: #7d84b2;
}
#menu-bar-logo a span:last-child {
  color: #a0ca44;
}
#menu-bar-list {
  padding: 20px 0px 0px 0px;
  box-sizing: border-box;
  padding-left: 20px;
}
#menu-bar-list ul li a {
  box-sizing: border-box;
  color: #7d84b2;
  margin-left: 20px;
}
#menu-bar-list ul li a:hover {
  text-decoration: none;
  color: #afafb6;
}
#menu-bar-search{
  padding-top: 15px;
  padding-left: 100px;
}
#menu-bar-search input{
  border: none;
}
#menu-bar-search input:hover, button:hover{
  border: none;
}

#menu-bar-search #frm-search input{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}
#menu-bar-search #frm-search button{
  color: #a0ca44;
  border-color: #a0ca44;
}
#menu-bar-search #frm-search button:hover{
  border: none;
  background-color: forestgreen;
  color: white;
}
#menu-bar-cart {
  box-sizing: border-box;
  padding: 0px;
  padding-top: 5px;
  padding-right: 60px;
}
.search-box i{
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
#menu-bar-cart i{
  color: #404987;
  padding-top: 15px;
  font-size: 2rem;
}
/* MENUBAR END */

/* BANNER START */
#banner {
  background-color: #f9f9ed;
}
.banner-custom{
  position: relative;
  background-color:#f9f9ed;
}
.banner-text{
  color: #404987;
  background-color: #f9f9ed;
  position: absolute;
  margin: 0px;
  margin-top: 90px;
  margin-left: 200px;
}
#banner-button{
  margin-top: 30px;
  border: none;
  background-color: #a0ca44;
  color: #404987;
}
#banner-button:hover{
  background-color:#5c8505;
  color: #f9f9ed;
}
.banner-wrapper{
  background-color: #f9f9ed;
}
/* BANNER END */
/* FEATURED START */
#featured{
  margin: 30px 30px;
}
.featured-item-1{
  background-image: url(/assets/imgs/home/featured-1.jpg);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.featured-item-link{
  height: 50px;
	background: #FFFFFF;
	min-width: 180px;
	padding-left: 25px;
	padding-right: 25px;
}
.featured-item-link a{
  display: block;
	color:#404987;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	width: 100%;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.featured-item-link a:hover{
  text-decoration: none;
  color: #a0ca44;
}
.featured-item-2{
  background-image: url(/assets/imgs/home/featured-2.jpg);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.featured-item-3{
  background-image: url(/assets/imgs/home/featured-3.jpg);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/* FEATURED END */
/* NEW CATEGORIES START */
#new-categories{
  margin: 0px;
}
#new-categories .row{
  margin: 0px;
  margin-bottom: 20px;
}
#new-categories .nc-title{
  padding-bottom: 0px;
  color: #404987;
}
#new-categories .nc-item{
  padding: 0px;
}


.nc-price a{
  font-size: 1.2rem;
  color: #404987;
  margin-bottom: 5px;
  font-weight: 700;
}
.nc-price a:hover{
  color: #7d84b2;
}
.nc-price span:first-of-type{
  font-size: 1.2rem;
  color: #a0ca44;
  margin-right: 15px;
}
.nc-price span:last-of-type{
  text-decoration: line-through;
  color: grey;
}
/* NEW CATEGORIES END */
/* BANNER TIMEOUT START */
#banner-timeout{
  background-color: #f9f9ed;
  margin-top: 10px;
}
#banner-timeout .banner-timeout-img {
   height: 400px;
   padding-left: 60px;
}
#banner-timeout .banner-timeout-img img{
  height: 100%;
}
.wrapper-timer{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}
.bt-title{
  text-align: center;
  color: #404987;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.timer{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 10px;
}
.bt-button{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 10px;
  background-color: #a0ca44;
  padding: 5px 10px;
  border-radius: 5px;
}
.bt-button a{
  color: #404987;
}
.bt-button a:hover{
  text-decoration: none;
  color: #f9f9ed;
}
.timer li
{
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #FFFFFF;
	margin-right: 10px;
}
.timer li:last-child
{
	margin-right: 0px;
}
.timer_num
{
	font-size: 48px;
	font-weight: 600;
	color:#404987;
	margin-top: 10px;
}
.timer_unit
{
	margin-top: 12px;
	font-size: 16px;
	font-weight: 500;
	color:#7d84b2;
}

/* BANNER TIMEOUT END */
/* FAVORITE ITEM START */
#favorite-items{
  margin-top: 20px;
}
#favorite-items h1{
  color: #404987;
}
#favorite-items .fi-wrapper a{
  color: #404987;
  font-size: 1.3rem;
}
#favorite-items .fi-wrapper a:hover{
  color: #7d84b2;
}
#favorite-items .fi-wrapper{
  color:#a0ca44;
  font-size: 1.2rem;
}
/* FAVORITE ITEM END */
/* CONTACT FORM START */

.cf-container{
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
}
.cf-container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cf-container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:#404987;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.cf-container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:#404987;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background:#404987;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background:#7d84b2;
}

@media (max-width: 950px) {
  .cf-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .cf-container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .cf-container{
    margin: 40px 0;
    height: 100%;
  }
  .cf-container .content{
    flex-direction: column-reverse;
  }
  .cf-container.content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .cf-container .content .left-side::before{
   display: none;
 }
 .cf-container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
/* CONTACT FORM END */
/* FOOTER START */
#footer{
  padding: 40px 0px;
  background-color: #404987;
  color: #f9f9ed;
}
#footer ul{
  padding: 0px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0px;
}
#footer li{
  padding: 0px 10px;
}
#footer ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
#footer ul a:hover {
  opacity:1;
}

#footer .social {
  text-align:center;
  padding-bottom:25px;
}

#footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

#footer .social > a:hover {
  opacity:0.9;
}

#footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
/* FOOTER END */